/* All images under Unsplash+ License */

body {
    display: flex;
    flex-direction: column;
    height: 100vw;
    border: 2px red solid;
}

a {
    text-decoration: none;
    color: white;
    border: 2px red solid;
}

li {
    list-style: none;
    border: 2px red solid;
}

.header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    border: 2px red solid;
}

.hero {
    display: flex;
    flex-direction: row;
}

.container-one {
    display: flex;

}

img {
    height: 400px;
    width: auto;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    border: 2px red solid;
}